html {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

h1 {
 color: rgb(226, 133, 206);
 border-style: solid;
 border-radius: 24px;
 text-align: center;
 font-family: 'Arial', cursive;
 background-color: white;
}

.filaBotones {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.boton {
    color: rgb(0, 0, 0);
    margin: 10px 20px 10px 20px;
}

.boton:hover{
    color:rgb(255, 30, 0);
}

.imagen {
    position: absolute;
    top: 0%;
    z-index: -1;
}